.sdp {
  --selected-date-color: #ff2f00;
}

.sdp {
  --disabled-color: rgb(110, 52, 84);
}

.sdp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: #f5fafd;
  padding: 0.75rem;
}

.sdp:focus,
.sdp--month-name:focus,
.sdp--square-btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #60a5fab3;
}

.sdp--month-name {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1fr;
  border-radius: 1rem;
}

.sdp--text {
  font-weight: normal;
  font-size: x-large;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.sdp--text__inactive {
  color: var(--disabled-color);
  pointer-events: none;
}

.sdp--square-btn {
  height: 3.2rem;
  width: 8.8rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  border: none;
  background-color: #f5fafd;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.sdp--square-btn:focus:hover {
  box-shadow: none;
}

.sdp--square-btn__shadowed {
  box-shadow: var(--shadow);
}

.sdp--square-btn__shadowed:focus:hover {
  box-shadow: var(--shadow);
}

.sdp--date-btn__selected {
  background-color: var(--theme-color);
  color: var(--selected-date-color);
  box-shadow: var(--shadow);
}

.sdp--date-btn__selected.sdp--square-btn:focus {
  box-shadow: var(--shadow);
}

.sdp--month-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdp--dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin: auto;
  justify-items: center;
}

.sdp--dates-grid > p.sdp--text {
  padding: 0.5rem 3rem;
}
